/* about-us */

.about-us-title {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
margin-bottom: 10px;
color: $title-color;
}
.about-us-text {
font-weight: 400;
line-height: 1.714;
letter-spacing: 0.03em;
}
.about-us-list-item-blok {
    display: flex;
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
}
.about-us-list-item-svg {
    width: 70px;
    height: 70px;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    }

@media screen and (max-width: 767px) {
.about-us-list-item-blok {
        width: 450px;
    
}
.about-us-title {
    text-align: center;
}
.about-us-list-item:not(:last-child) {
    margin-bottom: 30px;
}
}

@media (min-width: 768px) and (max-width: 1199px) {
    .about-us-list-item {
        width: 354px;
        &:nth-child(odd) {
        margin-right: 30px;
        }
    }
}
@media screen and (min-width: 768px) {
    .about-us-list {
    display: flex;
    flex-wrap: wrap;
    }
    .about-us-title {
        // display: inline-block;
    }
    .about-us-text {
        // display: inline-block;
        // width: 100%;
    }
}
@media screen and (min-width: 1200px) {
    .about-us-list-item {
        width: 270px;
    }
    .about-us-list-item:not(:last-child){
    margin-right: 30px;
}
}




