/* regular customers */
.clients-title {
    // margin-bottom: 50px;
}
.clients-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.clients-list-item-link {
    display: flex;
    height: 90px;
    justify-content: center;
    align-items: center;
    color: #AFB1B8;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition: color 250ms $timing-function,
    border-color 250ms $timing-function;
    &:hover,
    :focus {
color: $accent-color;
border-color: $accent-color;
}
}
.clients-list-item-svg {
    fill: currentColor;
}
@media screen and (max-width: 767px) {
    .clients-list-item {
    width: 210px;
    &:not(:nth-last-child(-n+2)) {
        margin-bottom: 30px;
    }
    }
}
@media screen and (max-width: 1199px) {
    .clients-title {
margin-bottom: 30px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .clients-list-item {
    width: 226px;
    &:not(:nth-last-child(-n+3)) {
        margin-bottom: 30px;
    }
    }
}
@media screen and (min-width: 1200px) {
    .clients-list-item-link {
    width: 170px;
    }
    .clients-title {
margin-bottom: 50px;
    }
}