/* footer */
.footer {
    background: #2F303A;
}
    .social-list-item-link {
    background: rgba(255, 255, 255, 0.1);
    &:hover,
    &:focus {
    background-color:  $accent-color;
}
}

.footer-container {
    // display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
    
}
.studio-white {
 color: #ffffff;
}

.footer-block-address {
    // margin-right: 69px;
    .logo-link {
    margin-right: 0px;
    margin-bottom: 20px;
}
    }
.address-list {
// font-weight: 400;
// font-size: 14px;
line-height: 1.714;
letter-spacing: 0.03em;
}

.footer-address {
color: $footer-text;
}

.footer .social-list-link .social-list-item-svg {
    fill: #FFFFFF;
}

.social-link-item:not(:last-child) {
    margin-right: 10px;
}

.footer-address-list-link {
color: rgba(255, 255, 255, 0.6);
transition: color 250ms $timing-function;
&:hover,
&:focus {
 color: $accent-color;
 }
}

.footer-block-join {
    // margin-right: 94px;
}

.footer-join,
.footer-forma {
display: block;
font-weight: 700;
// font-size: 14px;
line-height: 1.143;
letter-spacing: 0.03em;
text-transform: uppercase;
color: $footer-text;
margin-bottom: 20px;
}

.form-email {
font-size: 16px;
line-height: 1.25;
color: rgba(255, 255, 255, 0.6);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
    // margin-right: 12px;
    background-color: #2F303A;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
}
.footer-btn {
// align-items: center;
text-align: center;
padding-right: 28px;
padding-left: 29px;
}
.footer-send {
    width: 24px;
    height: 24px;
    margin-left: 10px;
    fill: #FFFFFF;
}
@media screen and (max-width: 479px) {
    .footer {
        width: 480px;
    }
}
@media screen and (max-width: 767px) {
    // .footer-container {
    //     text-align: center;
    // }
    .address-list {
        margin-bottom: 60px;
    }
    .footer-block-join {
        margin-bottom: 60px;
    }
    .form-email {
        margin-bottom: 20px;
    }
 }
 @media screen and (min-width: 768px) {
          .contact-block {
         display: flex;
         }
      }
 @media screen and (min-width: 768px) and (max-width: 1199px) {
     .contact-block {
         padding-left: 61px;
        //  margin-left: 61px;
         margin-bottom: 60px;
     }
     .footer-block-address {
         margin-right: 165px;
     }
    .footer-block-forma {
        
     }
     .form-email {
         display: block;
         margin-bottom: 20px;
     }
     .footer-forma-btn {
         text-align: center;
         display: inline-block;
     }
 }
 @media screen and (max-width: 1199px) {
     .footer-address-list:not(:last-child) {
         margin-bottom: 8px;
     }
     .footer-block-address {
        text-align: center;
            }
    .footer-block-join {
        text-align: center;
    }
    .footer-block-forma {
        text-align: center;
    }
     .form-email {
     width: 450px;
     }
 }
@media screen and (min-width: 1200px) {
    .footer-container {
        display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.contact-block {
    align-items: baseline;
}
.footer-block-address {
    margin-right: 70px;
}
.footer-address-list:not(:last-child) {
         margin-bottom: 9px;
     }
.footer-block-join {
}
.footer-forma-btn {
    display: flex;
}
.form-email {
     width: 358px;
          margin-right: 12px;
     }
}