/* our-work */
.our-work-title {
    margin-bottom: 50px;
}
.our-work-list {
    display: flex;
}
.our-work-list-item {
    position: relative;
    &:not(:last-child){
    margin-right: 30px;
}
}

.our-work-text {
position: absolute;
width: 100%;
left: 0;
bottom: 0;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
text-align: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;
padding-top: 27px;
padding-bottom: 27px;
background: rgba(47, 48, 58, 0.8);
}