.title {
font-weight: 700;
text-align: center;
letter-spacing: 0.03em;
color: $title-color;
}
@media screen and (max-width: 1199px) {
.title {
font-size: 28px;
line-height: 1.179;
}
}
@media screen and (min-width: 1200px) {
.title {
font-size: 36px;
line-height: 1.167;
}
}