%team-title-and-text{
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: $title-color;
}

%form {
    width: 100%;
    line-height: 1.14;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms $timing-function;
}